<p>
    The <strong>body mass index (BMI)</strong> is a number calculated from a
    person's weight and height. BMI is a reliable indicator of body fatness
    for people. BMI does not measure body fat directly, but research han shwon
    that BMI correlates to direct measures of body fat. BMI is used as a
    screening tool to identify possible weight problems of adults.
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>BMI</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&lt; 15</td>
            <td>Very severely underweight</td>
        </tr>
        <tr>
            <td>15 - 16</td>
            <td>Severely underweight</td>
        </tr>
        <tr>
            <td>16 - 18.5</td>
            <td>Underweight</td>
        </tr>
        <tr>
            <td>18.5 - 25</td>
            <td>Normal (healthy weight)</td>
        </tr>
        <tr>
            <td>25 - 30</td>
            <td>Overweight</td>
        </tr>
        <tr>
            <td>30 - 35</td>
            <td>Obese Class I (Moderately obese)</td>
        </tr>
        <tr>
            <td>35 - 40</td>
            <td>Obese Class II (Severely obese)</td>
        </tr>
        <tr>
            <td>&gt; 40</td>
            <td>Obese Class III (Very Severely obese)</td>
        </tr>
    </tbody>
</table>
<small>
        These ranges of BMI values are valid only as statistical categories.
</small>
<p>
    <a href="https://en.wikipedia.org/wiki/Body_mass_index" target="_blank">More info</a>
</p>
