<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    {% include 'flash.html' %}
    <div class="well">
        <form class="form-horizontal" action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            <div class="form-group{% if form.nickname.errors %} error{% endif %}">
                <label class="control-label col-sm-2" for="nickname">Your nickname:</label>
                <div class="col-sm-4">
                    {{ form.nickname(maxlength=64, class="form-control", required=form.nickname.flags.required) }}
                    {% for error in form.nickname.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group{% if form.name.errors %} error{% endif %}">
                <label class="control-label col-sm-2" for="name">Your name:</label>
                <div class="col-sm-4">
                    {{ form.name(maxlength=64, class="form-control") }}
                    {% for error in form.name.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group{% if form.age.errors %} error{% endif %}">
                <label class="control-label col-sm-2" for="age">Your age:</label>
                <div class="col-sm-4">
                    {{ form.age(maxlength=64, class="form-control", type="number") }}
                    {% for error in form.age.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group{% if form.height.errors %} error{% endif %}">
                <label class="control-label col-sm-2" for="height">Your height:</label>
                <div class="col-sm-4">
                    {{ form.height(maxlength=64, class="form-control", type="decimal") }}
                    {% for error in form.height.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <hr class="col-sm-offset-3 col-sm-6">
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="weight">
                        {{ form.weight }} Weight
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="bmi">
                        {{ form.bmi }} BMI
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="fat">
                        {{ form.fat }} Fat
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="muscle">
                        {{ form.muscle }} Muscle
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="viceral">
                        {{ form.viceral }} Viceral Fat
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="bmr">
                        {{ form.bmr }} Basal Metabolic Rate
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <label class="checkbox" for="bodyage">
                        {{ form.bodyage }} Body Age
                    </label>
                </div>
            </div>
            <hr class="col-sm-offset-3 col-sm-6">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <a href="{{ url_for('user', nickname=user.nickname) }}" name="cancel" class="btn btn-default">Cancel</a>&nbsp&nbsp&nbsp
                    <input class="btn btn-primary" type="submit" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
