<p>
    The <strong>body fat percentage (BFP)</strong> serves a vital role in
    storing energy and protecting internal organs. We carry two types of fat
    in our bodies: 1) essential fat which is stored in small amounts to
    protect the body and 2) stored fat which is stocked for energy during
    physical activity. While too much body fat may be unhealthy, having too
    little fat can be just as unhealthy. Also, the distribution of body fat
    in men and women is different, so the basis for classifying the body fat
    percentage is different between the genders.
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/Body_fat_percentage" target="_blank">More info</a>
</p>
