<!-- extends base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ user.name }}</h1>
    {% include 'flash.html' %}
    <div class="well">
        <h2>Last Control</h2>
        <br>
        {% if not control %}
            <p>You don't have any control yet.</p>
        {% else %}
            <p>Control Date:
                <strong>
                    {{ momentjs(control.date).format("MMMM Do, YYYY") }}
                </strong>
                ({{ momentjs(control.date).fromNow() }})
            </p>
            <br>
            {% for i in user.get_measurements_index() %}
                <div class"col-sm-12">
                    <p>{{ control[i][2] }}: <strong>{{ control[i][0] }}</strong> - {{ result[i] }}
                        <a href="#{{ control[i][1] }}_desc" data-toggle="collapse">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </a>
                    </p>
                </div>
                <div id="{{ control[i][1] }}_desc" class="collapse col-sm-12">
                    <div class="col-sm-offset-1 col-sm-10">
                        {% include control[i][1] + '_desc.html' %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-sm-12">
            <div class="col-sm-offset-3 col-sm-6">
                <hr>
            </div>
        </div>
        <a href="{{ url_for('add', nickname=user.nickname) }}">
            <button type="button" class="btn btn-primary">New Control</button>
        </a>
    </div>
{% endblock %}

