<!-- extends base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ user.name }}</h1>
    {% include 'flash.html' %}
    <div class="well">
        <h2>Last Control</h2>
        <br>
        {% if not control %}
        <p>You don't have any control yet.</p>
        {% else %}
        <p>Control Date:
                <strong>
                    {{ momentjs(control.date).format("MMMM Do, YYYY") }}
                </strong>
                ({{ momentjs(control.date).fromNow() }})
        </p>
        <br>
        {% if control.weight != 0.0 %}
        <div class"col-sm-12">
            <p>Weight: <strong>{{ control.weight }}</strong>&nbsp;
                <a href="#weight_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="weight_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'weight_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.bmi != 0.0 %}
        <div class"col-sm-12">
            <p>Body Mass Index (BMI): <strong>{{ control.bmi }}</strong> - {{ result.bmi }}&nbsp;
                <a href="#bmi_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="bmi_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'bmi_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.fat != 0.0 %}
        <div class"col-sm-12">
            <p>Body Fat Percentage (BFP): <strong>{{ control.fat }}</strong> - {{ result.fat }}&nbsp;
                <a href="#fat_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="fat_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'fat_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.muscle != 0.0 %}
        <div class"col-sm-12">
            <p>Skeletal Muscle: <strong>{{ control.muscle }}</strong> - {{ result.muscle }}&nbsp;
                <a href="#muscle_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="muscle_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'muscle_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.visceral != 0.0 %}
        <div class"col-sm-12">
            <p>Visceral Fat: <strong>{{ control.visceral }}</strong>&nbsp;
                <a href="#visceral_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="visceral_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'visceral_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.rmr != 0.0 %}
        <div class"col-sm-12">
            <p>Resting Metabolic Rate (RMR): <strong>{{ control.rmr }}</strong>&nbsp;
                <a href="#rmr_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="rmr_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'rmr_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% if control.bodyage != 0.0 %}
        <div class"col-sm-12">
            <p>Body Age: <strong>{{ control.bodyage }}</strong>&nbsp;
                <a href="#bodyage_desc" data-toggle="collapse">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </p>
        </div>
        <div id="bodyage_desc" class="collapse col-sm-12">
            <div class="col-sm-offset-1 col-sm-10">
                {% include 'bodyage_desc.html' %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <div class="col-sm-12">
            <div class="col-sm-offset-3 col-sm-6">
                <hr>
            </div>
        </div>
        <a href="{{ url_for('add', nickname=user.nickname) }}">
            <button type="button" class="btn btn-primary">New Control</button>
        </a>
    </div>
{% endblock %}

