<p>
    <strong>Skeletal muscle</strong> is the type of muscle that we can see and
    feel. When you work out to increase muscle mass, skeletal muscle is being
    exercised. Skeletal muscles attach to the skeleton and come in pairs -- one
    muscle to move the bone in one direction and another to move it back the
    other way. Increasing skeletal muscle will you increase your body's energy
    requirements. The more muscle you have, the more calories your body will
    burn. Building skeletal muscle can help prevent "rebound" weight gain.
    The maintenance and increase of skeletal muscle in closely linked to resting
    metabolism rate.
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Women</th>
            <th>Men</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Low</td>
            <td>&lt; 24%</td>
            <td>&lt; 33%</td>
        </tr>
        <tr>
            <td>Normal</td>
            <td>24 - 30%</td>
            <td>33 - 39%</td>
        </tr>
        <tr>
            <td>High</td>
            <td>30 - 35%</td>
            <td>39 - 44%</td>
        </tr>
        <tr>
            <td>Very High</td>
            <td>&gt; 35%</td>
            <td>&gt; 44%</td>
        </tr>
    </tbody>
</table>
<small>
        Source: Omron Healthcare.
</small>

<p>
    <a href="https://en.wikipedia.org/wiki/Skeletal_muscle" target="_blank">More info</a>
</p>
