<p>
    Regardless of your activity level, a minimum level of caloric intake is
    required to sustain the body's everyday functions. Known as the resting
    metabolism, this indicates how many calories you need to ingest in order
    to provide enough energy for your body to function.
</p>
<p>
    The total amount of energy used by the body in a typical day is as follows:
</p>
<ul>
    <li>Resting metabolism - Energy required to maintain vital functions.</li>
    <li>Daily activity metabolism - Energy used for daily activities such as commuting to work, household chores, hobbies, etc.</li>
    <li>Diet-induced thermogenesis - Energy emitted after eating a meal.</li>
</ul>
<p>
    The ratio of these is 60%-70% for resting metabolism, 20%-30% for daily
    activity, and 10% for diet induced thermogenesis. This means that resting
    metabolism accounts for most of our daily energy consumption.
</p>
<p>
    If our daily caloric intake exceeds the amount of energy required for these
    activities, the additional calories can be stored as fat.
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/Resting_metabolic_rate" target="_blank">More info</a>
</p>
