<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Your Profile</h1>
    {% include 'flash.html' %}
    <div class="well">
        <h2>{{ user.nickname }}</h2>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <p>Name: <strong>{{ user.name }}</strong></p>
                    {% if user.id == g.user.id %}
                    <p>Email: <strong>{{ user.email }}</strong></p>
                    {% endif %}
                </div>
                {% if user.id == g.user.id %}
                <div class="col-sm-6">
                    <p>Age: <strong>{{ user.age }}</strong></p>
                    <p>Height: <strong>{{ user.height }}</strong></p>
                </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <h3>Measurements</h3>
        <br>
        <div class="row">
            <div class="col-sm-12">
                {% for measurement in user.get_measurements() %}
                    <div class="col-sm-4">
                        <p>{{ measurement }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <a href="{{ url_for('edit', nickname=user.nickname) }}">
            <button type="button" class="btn btn-primary">Edit Your Profile</button>
        </a>
    </div>
{% endblock %}
