<p>
    <strong>Visceral fat</strong> is found in the abdomen and surrounding vital
    organs. It is different from fat found directly underneath the skin, which
    is referred to as subcutaneous fat. Viceral fat can go largely unnoticed
    because it's not visible to the naked eye. One way visceral fat can be seen
    is through Magnetic Resonance Imaging (MRI)
</p>
<p>
    Too much visceral fat is thought to be closely linked to increased levels
    of fat in the bloodstream, which may lead to conditions such as high
    cholesterol, heart disease and type 2 diabetes. In order to prevent or
    improve these conditions, it is important to try to reduce the amount
    of visceral fat levels to and acceptable level
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/Adipose_tissue#Visceral_fat" target="_blank">More info</a>
</p>
