<p>
    The term <strong>human body weight</strong> is used colloquially and in the biological and
    medical sciences to refer to a person's mass or weight.
</p>
<p>
    Strictly speaking, body weight is the measurement of weight without items
    located on the person. Practically though, body weight may be measured with
    clothes on, but without shoes or heavy accessories such as mobile phones
    and wallets and using manual or digital weighing scales. Excess or reduced
    body weight is regarded as an indicator of determining a person's health,
    with body volume measurement providing an extra dimension by calculating the
    distribution of body weight.
</p>
<p>
    <a href="https://en.wikipedia.org/wiki/Human_body_weight" target="_blank">More info</a>
</p>
